.solo-rank-emblem {
    height: 50px;
    width: 50px;
}

#summoner-league {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 20px 100px;
    border-radius: 10px;
    background-color: rgba(94, 91, 91, 0.1);
}

.user-information {
    margin: 10px;
}
.user-info-icon {
    height: 100px;
    width: 100px;
}

.rank-information {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 10px;
}

#match-list {
    margin: 50px 50px;
}

.recent-matches-visuality {
    display: grid;
    width: 1100px;
    height: 220px;
    grid-template-columns: repeat(10, 1fr);
    margin: 10px auto;
}

.summary-recent-match {
    margin: 5 auto;
    width: 100px;
    height: 100px;
}

.win{
    background-color: #a3cfec;    
}

.lose{
    background-color: #e2b6b3;    
}

.recent-match {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 3fr;
    padding: 5px;
}

.summoner-items {
    display: grid;
    width: 200px;
    grid-template-columns: repeat(3, 1fr);
}

.summoner-spell {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.loading {
    visibility: hidden;

    width: 300px;
    height: 300px;
    border: 10px solid rgb(255, 255, 255, 0);
    border-top: 10px solid red;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    animation: spin 0.8s infinite linear;
}

.show {
    visibility: visible;
}

@keyframes spin {
    to {
        transform: rotate(0deg)
    }
    from {
        transform: rotate(360deg)
    }
}

.buttonDisable {
    cursor: not-allowed;
}

.inputDisable {
    pointer-events: none;
}
